---
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Our Mission</title>
    </head>

    <body>
        <nav>
	        <h1 class="logo">Venture</h1>

            <div class="nav-links">
	            <ul>
                    <li><a href="/">Home</a></li>
		            <li><a href="/about">What We Are</a></li>
		            <li><a href="/mission">Our Mission</a></li>
	                <li><a href="/events">Events</a></li>
                    <li><a href="/join">Join Us</a></li>
		            <li><a href="/support">Support Us</a></li>
	            </ul> 
            </div>
	    </nav>

        <!-- Mission / Why We Exist -->
        <section>
            <h2>Our Mission</h2>
            <p>Venture exists because of two things. A love of games, and a love of the outdoors. 
	        Venture is made to be not just a game jam, but also as a token of appreciation for the world that surrounds us.</p>
        </section>
    </body>
</html>