---
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Support Us</title>
    </head>

    <body>
        <nav>
	        <h1 class="logo">Venture</h1>

            <div class="nav-links">
	            <ul>
                    <li><a href="/">Home</a></li>
		            <li><a href="/about">What We Are</a></li>
		            <li><a href="/mission">Our Mission</a></li>
	                <li><a href="/events">Events</a></li>
                    <li><a href="/join">Join Us</a></li>
		            <li><a href="/support">Support Us</a></li>
	            </ul>
            </div> 
	    </nav>

        <!-- Support Us -->
	    <section>
	        <h2>Support Our Mission</h2>
	        <p>If you want to support our mission, you can donate at the page below!</p>
	        <a href="#" class="button">Donate Here</a>
	    </section>
    </body>
</html>